<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game 3</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<style>
    h1 {
        text-align: center;
        margin-left: 20px;
    }
</style>
<body>
    <h1>Games 3</h1>

    <div id="video-grid">
        <!-- Videos will be inserted here -->
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="script.js" defer></script>
</body>
</html>
